<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemAsset.Domain.Properties.Settings.HRMSDBConnectionString"
            connectionString="Data Source=intradb_dev;Initial Catalog=HRMSDB;Persist Security Info=True;User ID=hrms;Password=hrms"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>