<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="archefx.configuration">
			<section name="data" type="ArcheFx.Configuration.ConfigurationSectionHandler, ArcheFxV2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e71c4c3da1b66f9a" />
			<section name="diagnostics" type="ArcheFx.Configuration.ConfigurationSectionHandler, ArchefxV2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=e71c4c3da1b66f9a" />
		</sectionGroup>
	</configSections>
	<archefx.configuration>
		<data>
			<connectionStrings>
				<connectionString name="intradb_read" value="Data Source=toshiba-pc;Initial Catalog=assetdb;UID=sa;PWD=sodlfma;Connection Reset=false"/>
				<connectionString name="intradb_write" value="Data Source=toshiba-pc;Initial Catalog=assetdb;UID=sa;PWD=sodlfma;Connection Reset=false"/>
			</connectionStrings>
		</data>
	</archefx.configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

</configuration>
