@{
    ViewBag.Title = "ServerTypeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-tachometer fa-fw"></i>Server : Physical/Virtual</h2>
	<section>
		<div class="table-scroll">
		<table class="table-1 cell-separate">
			<thead>
				<tr>
					<th colspan="2">구분</th>
					<th>GMKT</th>
					<th>IAC</th>
					<th>ABOUT</th>
					<th>G9</th>
					<th>GLOBAL</th>
					<th>ESM+</th>
					<th>신규대기</th>
					<th>중고대기</th>
					<th>폐기예정</th>
					<th>소계</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2" class="cell-highlight">목동</td>
					<td class="cell-separate">Physical</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">23</td>
				</tr>
				<tr>
					<td>Virtual</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td rowspan="2" class="cell-highlight">논현</td>
					<td class="cell-separate">Physical</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">45</td>
				</tr>
				<tr>
					<td>Virtual</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">14</td>
				</tr>
				<tr>
					<td rowspan="2" class="cell-highlight">분당</td>
					<td class="cell-separate">Physical</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">45</td>
				</tr>
				<tr>
					<td>Virtual</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">14</td>
				</tr>
				<tr>
					<td rowspan="2" class="cell-highlight">서초</td>
					<td class="cell-separate">Physical</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">45</td>
				</tr>
				<tr>
					<td>Virtual</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">14</td>
				</tr>
				<tr>
					<td colspan="2">목동 Part Room</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">45</td>
				</tr>
				<tr>
					<td colspan="2">논현 Part Room</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">45</td>
				</tr>
				<tr class="cell-total important-text">
					<td colspan="2">소계</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td >45</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="button-wrap">
			<a href="#" class="button-sub"><i class="fa fa-refresh fa-fw"></i>Update</a>
			<a href="#" class="button-sub"><i class="fa fa-download fa-fw"></i>Download</a>
		</div>
	</section>