@{
    ViewBag.Title = "ServerWorkList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-tachometer fa-fw"></i>Server : 업무별</h2>
	<section>
		<div class="table-scroll">
		<table class="table-1 cell-separate">
			<thead>
				<tr>
					<th colspan="2">구분</th>
					<th>GMKT</th>
					<th>IAC</th>
					<th>ABOUT</th>
					<th>G9</th>
					<th>GLOBAL</th>
					<th>ESM+</th>
					<th>신규대기</th>
					<th>중고대기</th>
					<th>폐기예정</th>
					<th>소계</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="4" class="cell-highlight">Operation</td>
					<td class="cell-separate">WEB</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">23</td>
				</tr>
				<tr>
					<td class="cell-separate">APPLICATION</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td class="cell-separate">DB</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td class="cell-separate">DW</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td rowspan="4" class="cell-highlight">Back Office</td>
					<td class="cell-separate">WEB</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">23</td>
				</tr>
				<tr>
					<td class="cell-separate">APPLICATION</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td class="cell-separate">DB</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td class="cell-separate">DW</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td rowspan="4" class="cell-highlight">Test</td>
					<td class="cell-separate">WEB</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">23</td>
				</tr>
				<tr>
					<td class="cell-separate">APPLICATION</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td class="cell-separate">DB</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td class="cell-separate">DW</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td rowspan="4" class="cell-highlight">DR</td>
					<td class="cell-separate">WEB</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">23</td>
				</tr>
				<tr>
					<td class="cell-separate">APPLICATION</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td class="cell-separate">DB</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td class="cell-separate">DW</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">34</td>
				</tr>
				<tr>
					<td class="cell-highlight">기타</td>
					<td class="cell-separate">기타</td>
					<td>4</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td class="cell-total">45</td>
				</tr>
				<tr class="cell-total important-text">
					<td colspan="2">소계</td>
					<td>1</td>
					<td>4</td>
					<td>3</td>
					<td>1</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>4</td>
					<td>1</td>
					<td >45</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="button-wrap">
			<a href="#" class="button-sub"><i class="fa fa-refresh fa-fw"></i>Update</a>
			<a href="#" class="button-sub"><i class="fa fa-download fa-fw"></i>Download</a>
		</div>
	</section>